<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- setter based injection -->
    <bean id="pythonInAction" class="spring.beans.Book">
        <!-- inject string value -->
        <property name="title" value="Python in Action - Fear the Ananconda!!!!"/>
        <!-- inject int value -->
        <property name="edition" value="1"/>
        <property name="yearPublished" value="2000"/>
        <!-- Inject a collection of beans into property -->
        <property name="authors">
            <set>
                <!-- reuse beans -->
                <ref bean="shreejaRoy"/>
                <ref bean="karanKyanam"/>
                <!-- inner bean -->
                <bean class="spring.beans.Author">
                    <property name="firstName" value="Ajay"/>
                    <property name="lastName" value="Prabandham"/>
                    <property name="middleName" value="Prakash"/>
                </bean>
            </set>
        </property>
    </bean>
    <bean id="javaInAction" class="spring.beans.Book"/>
    <bean id="gradleInAction" class="spring.beans.Book"/>
    <bean id="rubyInAction" class="spring.beans.Book"/>
    <bean id="javaScriptInAction" class="spring.beans.Book"/>
    <bean id="androidInAction" class="spring.beans.Book"/>
    <!-- beans with no ids -->
    <bean class="spring.beans.Book"/>
    <bean class="spring.beans.Book"/>
    <bean class="spring.beans.Book"/>

    <!-- Constructor based injection -->
    <bean id="karanKyanam" class="spring.beans.Author">
        <constructor-arg type="String" value="Karan"/>
        <constructor-arg type="String" value="Kyanam"/>
        <constructor-arg type="String" value="Hackastack"/>
    </bean>
    <!-- static factory method based injection -->
    <bean id="praneethMuskula" class="spring.beans.Author" factory-method="createInstance">
        <constructor-arg type="String" value="Praneeth Reddy Muskula"/>
    </bean>
    <!-- factory bean method based injection -->
    <bean id="shreejaRoy" class="spring.beans.Author" factory-bean="workshopBeanFactory"
          factory-method="createAuthorInstance">
        <constructor-arg type="String" value="Shreeja Roy"/>
    </bean>
    <bean id="praveen" class="spring.beans.Author" factory-method="createInstance">
        <constructor-arg type="String" value="Praveen"/>
    </bean>

    <!-- factory bean -->
    <bean id="workshopBeanFactory" class="spring.beans.WorkShopBeanFactory"/>
    <bean id="subbu" class="spring.beans.Student" factory-bean="workshopBeanFactory"
            factory-method="createStudentInstance">
        <constructor-arg type="String" value="Hariharan Subrahmanian"/>
    </bean>
    <bean id="arfaa" class="spring.beans.Student"/>
    <bean id="dhamini" class="spring.beans.Student"/>

    <!--
        real world usage scenario
        Externalize the log4j configuration file so it can be refreshed without having to restart
        http://2mohitarora.blogspot.in/2011/10/externalize-log4j-log4jconfigurer.html
    -->
    <bean id="log4jInitialization"
          class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass"
                  value="org.springframework.util.Log4jConfigurer"/>
        <property name="targetMethod" value="initLogging"/>
        <property name="arguments">
            <list>
                <value>classpath:log4j.properties</value>
                <value>30</value>
            </list>
        </property>
    </bean>

</beans>